#NavMenu{
    background-color: rgb(54, 54, 54);
    height: 70px;
}

#logo:hover{
    transition: 1s;
    rotate: 360grad;
}

#logo:not(:hover){
    transition: 1s;
}

button{
    border-radius: 10px;
    margin-left: 10%;
    scale: 2;
}

button:hover{
    transition: 1s;
    scale: 2.2;
    background-color: black;
    color: white;
}

button:not(:hover){
    transition: 1s;
    background-color: white;
    color: black;
}

button:active{
    transition: 300ms;
    scale: 1.9;
}